:root {
	--colour-data-changed: #d5e8b2;
	--colour-data-new: hsl(84deg 55.56% 61.59%);
}

.permitDataChanged,
.permitDataNew {
	display: table;
}

.permitDataChanged {
	background-color: var(--colour-data-changed);
	outline: 4px solid var(--colour-data-changed);
}

.permitDataNew {
	background-color: var(--colour-data-new);
	outline: 4px solid var(--colour-data-new);
}

a.permitDataChanged,
a.permitDataNew {
	outline: none;
}

tr.permitDataNewRow td {
	background-color: var(--colour-data-new);
}

tr.notSeenToday {
	background-color: hsl(84deg 56% 62% / 20%) !important;
}

a.documentLink {
	position: relative;
}

a.documentLink.notViewedDoc::before {
	content: "!";
	position: absolute;
	top: 0px;
	right: -17px;
	background-color: green;
	color: white;
	font-size: 12px;
	font-weight: bold;
	min-width: 11px;
	height: 11px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}
