@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--colour-data-changed: #d5e8b2;
	--colour-data-new: hsl(84deg 55.56% 61.59%);
}

body {
	font-family:
		"Inter var",
		"Inter",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Roboto",
		"Oxygen",
		"Ubuntu",
		"Cantarell",
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "slnt" 0;
}

.permitDataChanged,
.permitDataNew {
	display: table;
}

.permitDataChanged {
	background-color: var(--colour-data-changed);
	outline: 4px solid var(--colour-data-changed);
}

.permitDataNew {
	background-color: var(--colour-data-new);
	outline: 4px solid var(--colour-data-new);
}

a.permitDataChanged,
a.permitDataNew {
	outline: none;
}

tr.permitDataNewRow td {
	background-color: var(--colour-data-new);
}

tr.notSeenToday {
	background-color: hsl(84deg 56% 62% / 20%) !important;
}

a.documentLink {
	position: relative;
}

a.documentLink::before {
	content: "!";
	position: absolute;
	top: 0px;
	right: -17px;
	color: white;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	min-width: 11px;
	height: 11px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

a.documentLink.notViewedDoc:not(.notViewedDoc2)::before {
	background-color: green;
}

a.documentLink.notViewedDoc.notViewedDoc2::before {
	background-color: rgb(182, 73, 0);
}

a.documentLink.notViewedDoc2:not(.notViewedDoc)::before {
	background-color: purple;
}

a.documentLink.viewedDoc2:not(.viewedDoc)::before {
	background-color: teal;
}

.purpose {
	white-space: pre-line;
}

button.clearDocs.p-button {
	padding: 0.3rem 1rem;
	width: 0.6rem;
	margin-left: 9px;
	visibility: hidden;
}

.docSection:hover button.clearDocs.p-button {
	visibility: visible;
}

thead .p-inputtext {
	width: 100%;
}
